{
  "presets": [
    "env",
    "stage-2",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "array-includes"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [
              ".css"
            ]
          }
        ]
      ]
    }
  }
}
