@import "mixins";

$black2: #F7F7F7;
$black5: #F2F2F2;
$black10: #E5E5E5;
$black20: #CCCCCC;
$black40: #999999;
$black60: #666666;
$black80: #333333;
$white: #FFFFFF;
$pacific: #006EB8;

$inputColor: $black80;
$inputBorderColor: $black20;
$inputDisabledBackgroundColor: $black5;
$inputDisabledColor: $black40;
$inputFocusBorderColor: mix($pacific, $white, 50%);
$inputBackgroundColor: $white;
$shadowColor: $black20;
$optionHighlightColor: $black2;
$optionHoverColor: $black5;
$keywordColor: $black60;
$groupColor: $black40;
$separatorColor: $black20;

.typeahead {
    position: relative;

    input {
        @include regular-font(14px, 30px);
        background-image: url('./icons/arrow-down.svg');
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) 10px;
        box-sizing: border-box;
        width: 100%;
        min-width: 120px;
        color: $inputColor;
        text-overflow: ellipsis;
        padding: 0 24px 0 12px;
        border: 1px solid $inputBorderColor;

        &:disabled {
            background-color: $inputDisabledBackgroundColor;
            color: $inputDisabledColor;
        }

        &:focus {
            outline: 1px solid $inputFocusBorderColor;
            border: 1px solid $inputFocusBorderColor;
            outline-offset: 0;
        }
    }

    &__options {
        position: absolute;
        background-color: $inputBackgroundColor;
        box-shadow: 0 1px 4px 0 $shadowColor;
        border: 1px solid $shadowColor;
        border-top: 0;
        top: 33px;
        left: 0;
        overflow-y: auto;
        max-height: 300px;
        z-index: 10;
        min-width: calc(100% - 2px);
        max-width: 100%;
        padding: 16px 0 24px;

        .ReactVirtualized__List:active, .ReactVirtualized__List:focus {
            outline: 0;
        }
    }

    &__option {
        @include regular-font(14px, 28px);
        color: $inputColor;
        padding: 0 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;

        &[data-highlighted=true] {
            background: $optionHighlightColor;
        }

        &:hover {
            background: $optionHoverColor;
        }

        &__new_option {
            color: $keywordColor;
        }
    }

    &__no_options {
        position: relative;
        @include regular-font(14px, 28px);
        color: $keywordColor;
        padding: 0 12px;
        text-overflow: ellipsis;

        &__keyword {
            color: $inputColor;
        }
    }

    &__group {
        @include semibold-font(12px, 28px);
        color: $groupColor;

        &__label {
            padding: 0 12px;
        }

        &:not(:first-of-type) {
            margin-top: 15px;
            border-top: 1px solid $separatorColor;
            padding-top: 16px;
        }
    }

    &__clear {
        position: absolute;
        width: 32px;
        height: 32px;
        right: 22px;
        top: 0;
        background: url("icons/clear.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 8px;
        border-color: transparent;

        &:active {
            outline: 0;
        }
    }
}